<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/v1/register}" method="post">
    Login:
    <input type="text" name="username">
    Password:
    <input type="text" name="password">
    Name:
    <input type="text" name="name">
    Surname:
    <input type="text" name="surname">
    Email:
    <input type="text" name="email">
    <input type="submit" value="sign up!">
</form>
</body>
</html>
